In [ ]:
!pip install transformers

In [ ]:
!pip install tensorflow

In [3]:
from transformers import pipeline

In [49]:
#dummy data
data = ["I love you", "I hate you", "i dont know", "blah blah blah"]

# Initializing Bertweet-based-sentiment-analysis Model #

In [5]:
specific_model = pipeline(model="finiteautomata/bertweet-base-sentiment-analysis")
specific_model(data)

emoji is not installed, thus not converting emoticons or emojis into text. Install emoji: pip3 install emoji==0.6.0
Xformers is not installed correctly. If you want to use memorry_efficient_attention to accelerate training use the following command to install Xformers
pip install xformers.

[{'label': 'POS', 'score': 0.9916695356369019},
 {'label': 'NEG', 'score': 0.9806600213050842},
 {'label': 'NEU', 'score': 0.8221893310546875},
 {'label': 'NEG', 'score': 0.8571133613586426}]

In [7]:
print(df)

[{'label': 'POS', 'score': 0.9916695356369019}, {'label': 'NEG', 'score': 0.9806600213050842}, {'label': 'NEU', 'score': 0.8221893310546875}, {'label': 'NEG', 'score': 0.8571133613586426}]

In [8]:
import pandas as pd

In [9]:
pd.DataFrame(df)

  label     score
0   POS  0.991670
1   NEG  0.980660
2   NEU  0.822189
3   NEG  0.857113

# Loading Tweets data from Minio #

In [12]:
from minio import Minio

In [13]:
client = Minio("minio:9000",access_key="ffADHWAu70PFl1IscfLH",secret_key="lvJ71G3aJLgPvA556Y3RByUUyhdVwtP0qQ9muFVF", secure=False)

In [14]:
obj = client.get_object("miniobucket", "tweets_train.csv")

In [15]:
df = pd.read_csv(obj)
df.head(10)

  use ledger trezor monero desktop wallet. wouldn't xmr exchange
0  "institutional investors". turns out, bitcoin ...
1        i'm old remember buy entire bitcoin $19,000
2  rt : parts world getting ready celebrate new y...
3        i'm old remember buy entire bitcoin $19,000
4  rt : parts world getting ready celebrate new y...
5        i'm old remember buy entire bitcoin $19,000
6  rt : parts world getting ready celebrate new y...
7        i'm old remember buy entire bitcoin $19,000
8  rt : parts world getting ready celebrate new y...
9        i'm old remember buy entire bitcoin $19,000

In [16]:
columns = ['tweet']

In [17]:
df.columns=columns

In [18]:
df.head()

                                               tweet
0  "institutional investors". turns out, bitcoin ...
1        i'm old remember buy entire bitcoin $19,000
2  rt : parts world getting ready celebrate new y...
3        i'm old remember buy entire bitcoin $19,000
4  rt : parts world getting ready celebrate new y...

## Preprocessing Tweets ##

In [19]:
dfSentiment=df[['tweet']]
dfSentiment.head(3)

                                               tweet
0  "institutional investors". turns out, bitcoin ...
1        i'm old remember buy entire bitcoin $19,000
2  rt : parts world getting ready celebrate new y...

In [20]:
!pip install emot
from emot.emo_unicode import UNICODE_EMOJI, EMOTICONS_EMO

Requirement already satisfied: emot in /opt/conda/lib/python3.9/site-packages (3.1)

In [21]:
!pip install nltk
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer

Requirement already satisfied: nltk in /opt/conda/lib/python3.9/site-packages (3.8.1)
Requirement already satisfied: click in /opt/conda/lib/python3.9/site-packages (from nltk) (8.0.3)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.9/site-packages (from nltk) (4.62.3)
Requirement already satisfied: regex>=2021.8.3 in /opt/conda/lib/python3.9/site-packages (from nltk) (2023.5.5)
Requirement already satisfied: joblib in /opt/conda/lib/python3.9/site-packages (from nltk) (1.1.0)

[nltk_data] Downloading package stopwords to /home/jovyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [22]:
import re

In [23]:
# remove hashtags
def hashtags(text):
  hash = re.findall(r"#(\w+)", text)
  return hash

# translate emoji
def emoji(text):
  for emot in UNICODE_EMOJI:
    if text == None:
      text = text
    else:
      text = text.replace(emot, "_".join(UNICODE_EMOJI[emot].replace(",", "").replace(":", "").split()))
    return text

# remove retweet username and tweeted at @username
def remove_users(tweet):
  '''Takes a string and removes retweet and @user information'''
  tweet = re.sub('(@[A-Za-z]+[A-Za-z0-9-_]+)', '', tweet) 
  # remove tweeted at
  return tweet

# remove links
def remove_links(tweet):
  '''Takes a string and removes web links from it'''
  tweet = re.sub(r'http\S+', '', tweet) # remove http links
  tweet = re.sub(r'bit.ly/\S+', '', tweet) # remove bitly links
  tweet = tweet.strip('[link]') # remove [links]
  return tweet
def clean_html(text):
  html = re.compile('<.*?>')#regex
  return html.sub(r'',text)

# remove non ascii character
def non_ascii(s):
  return "".join(i for i in s if ord(i)<128)

def lower(text):
  return text.lower()

# remove stopwords
def removeStopWords(str):
#select english stopwords
  cachedStopWords = set(stopwords.words("english"))
#add custom words
  cachedStopWords.update(('and','I','A','http','And','So','arnt','This','When','It','many','Many','so','cant','Yes','yes','No','no','These','these','mailto','regards','ayanna','like','email'))
#remove stop words
  new_str = ' '.join([word for word in str.split() if word not in cachedStopWords]) 
  return new_str

# remove email address
def email_address(text):
  email = re.compile(r'[\w\.-]+@[\w\.-]+')
  return email.sub(r'',text)

def punct(text):
  token=RegexpTokenizer(r'\w+')#regex
  text = token.tokenize(text)
  text= " ".join(text)
  return text 

# remove digits and special characters
def remove_digits(text):
    pattern = r'[^a-zA-z.,!?/:;\"\'\s]' 
    #when the ^ is on the inside of []; we are matching any character that is not included in this expression within the []
    return re.sub(pattern, '', text)

def remove_special_characters(text):
    # define the pattern to keep
    pat = r'[^a-zA-z0-9.,!?/:;\"\'\s]' 
    return re.sub(pat, '', text)

def remove_(tweet):
  tweet = re.sub('([_]+)', "", tweet)
  return tweet

In [24]:
#apply all the functions above
dfSentiment['hashtag'] = dfSentiment.tweet.apply(func = hashtags)
dfSentiment['new_tweet'] = dfSentiment.tweet.apply(func = emoji)
dfSentiment['new_tweet'] = dfSentiment.new_tweet.apply(func = remove_users)
dfSentiment['new_tweet'] = dfSentiment.new_tweet.apply(func = clean_html)
dfSentiment['new_tweet'] = dfSentiment.new_tweet.apply(func = remove_links)
dfSentiment['new_tweet'] = dfSentiment.new_tweet.apply(func = non_ascii)
dfSentiment['new_tweet'] = dfSentiment.new_tweet.apply(func = lower)
dfSentiment['new_tweet'] = dfSentiment.new_tweet.apply(func = email_address)
dfSentiment['new_tweet'] = dfSentiment.new_tweet.apply(func = removeStopWords)
dfSentiment['new_tweet'] = dfSentiment.new_tweet.apply(func = clean_html)
dfSentiment['new_tweet'] = dfSentiment.new_tweet.apply(func = punct)
dfSentiment['new_tweet'] = dfSentiment.new_tweet.apply(func = remove_)

In [25]:
dfSentiment

,tweet,hashtag,new_tweet
0,"""institutional investors"". turns out, bitcoin ...",[],institutional investors turns out bitcoin crim...
1,"i'm old remember buy entire bitcoin $19,000",[],m old remember buy entire bitcoin 19 000
2,rt : parts world getting ready celebrate new y...,[],rt parts world getting ready celebrate new yea...
3,"i'm old remember buy entire bitcoin $19,000",[],m old remember buy entire bitcoin 19 000
4,rt : parts world getting ready celebrate new y...,[],rt parts world getting ready celebrate new yea...
...,...,...,...
29979,line support lost &amp; flush. while a quick r...,[],e support lost amp flush quick recovery genera...
29980,"@lschondorf try binance, but withdraw coins. n...",[],try binance withdraw coins never store exchanges
29981,remember when elon kindly invited you to the d...,[],remember elon kindly invited doge adventure tw...
29982,@arbitrage_econs once trendline support is los...,[],trendline support lost gravity might kick in c...
29983,decision-time coming up for $btc today. price ...,[],decision time coming btc today price attemptin...

In [26]:
data_array=dfSentiment.iloc[:,2].values

In [27]:
data_array

array(['institutional investors turns out bitcoin criminals',
       'm old remember buy entire bitcoin 19 000',
       'rt parts world getting ready celebrate new year kept buying new bitcoin looks',
       ..., 'remember elon kindly invited doge adventure two weeks ago',
       'trendline support lost gravity might kick in cautious altitude',
       'decision time coming btc today price attempting break top channel line either results'],
      dtype=object)

In [29]:
data_str = data_array.astype(str)

In [30]:
from typing import List
my_tweets: List[str] = data_array

print(my_tweets)

['institutional investors turns out bitcoin criminals'
 'm old remember buy entire bitcoin 19 000'
 'rt parts world getting ready celebrate new year kept buying new bitcoin looks'
 ... 'remember elon kindly invited doge adventure two weeks ago'
 'trendline support lost gravity might kick in cautious altitude'
 'decision time coming btc today price attempting break top channel line either results']

In [31]:
#from transformers import AutoTokenizer, AutoModelForSequenceClassification

In [40]:
#tokenizer = AutoTokenizer.from_pretrained('cardiffnlp/twitter-roberta-base-sentiment-latest')

In [32]:
!pip install torch

Requirement already satisfied: torch in /opt/conda/lib/python3.9/site-packages (2.0.1)
Requirement already satisfied: networkx in /opt/conda/lib/python3.9/site-packages (from torch) (2.6.3)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.9/site-packages (from torch) (3.0.3)
Requirement already satisfied: typing-extensions in /opt/conda/lib/python3.9/site-packages (from torch) (4.0.1)
Requirement already satisfied: filelock in /opt/conda/lib/python3.9/site-packages (from torch) (3.12.0)
Requirement already satisfied: sympy in /opt/conda/lib/python3.9/site-packages (from torch) (1.9)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.9/site-packages (from jinja2->torch) (2.1.2)
Requirement already satisfied: mpmath>=0.19 in /opt/conda/lib/python3.9/site-packages (from sympy->torch) (1.2.1)

In [ ]:
#from transformers import TFAutoModelForSequenceClassification

In [41]:
#for tweet in data_array:
   #   tweet,
    #    add_special_tokens=True,
     #   max_length=128,
      #  padding="max_length",
       # truncation=True,
        #return_tensors="pt"
   # )

In [ ]:
#this will take a while
results=[]
for tweet in data_array:
    s = specific_model (tweet)
    results.append(s) 
print (results)

In [47]:
sa = pd.DataFrame(results)

In [48]:
sa.to_csv('tweets_analysis.csv')

# Load Data to Postgres #

In [50]:
#obtaining our merged data from minio with tweets and sentiment analysis results
obj1 = client.get_object("miniobucket", "2021-crypto-tweets-with-our-SA.csv")

In [52]:
df1=pd.read_csv(obj1)
df1.head()

,F1,Tweetext,TweetDatetime,TwitterName,Retweets,Favorites,likes,new_coins,dateNEW,Symbol,Day,Month,YEAR,Label,Score
0,5168.0,use ledger trezor monero desktop wallet. would...,01/01/2021,aantonop,2,52,30930,"(monero,xmr)",2021-01-01,XMR,1.0,1.0,2021.0,NEG,0.950051486492157}
1,5167.0,"""institutional investors"". turns out, bitcoin ...",02/01/2021,aantonop,3,26,30930,(bitcoin),2021-01-02,BTC,2.0,1.0,2021.0,NEU,0.9412392973899841}
2,1722.0,"i'm old remember buy entire bitcoin $19,000",1/2/2021 15:06,BarrySilbert,455,7550,10818,(bitcoin),2021-01-02,BTC,2.0,1.0,2021.0,POS,0.8608319163322449}
3,1723.0,rt : parts world getting ready celebrate new y...,1/2/2021 2:23,BarrySilbert,91,0,10818,(bitcoin),2021-01-02,BTC,2.0,1.0,2021.0,NEU,0.9412392973899841}
4,3592.0,"i'm old remember buy entire bitcoin $19,000",1/2/2021 15:06,BarrySilbert,455,7550,10818,(bitcoin),2021-01-02,BTC,2.0,1.0,2021.0,POS,0.8608319163322449}

In [109]:
df1.isnull().sum()

F1               26754
Tweetext         26754
TweetDatetime    26754
TwitterName      26773
Retweets         26754
Favorites        26754
likes            26988
new_coins        26754
dateNEW          26754
Symbol           36505
Day              26507
Month            26507
YEAR             26507
Label            26507
Score            26508
dtype: int64

In [111]:
df2 = df1.dropna()

In [113]:
df2.shape

(19785, 15)

In [134]:
df2=df2.drop(['Score'], axis = 1)

In [135]:
df2.head()

,F1,Tweetext,TweetDatetime,TwitterName,Retweets,Favorites,likes,new_coins,dateNEW,Symbol,Day,Month,YEAR,Label
0,5168.0,use ledger trezor monero desktop wallet. would...,01/01/2021,aantonop,2,52,30930,"(monero,xmr)",2021-01-01,XMR,1.0,1.0,2021.0,NEG
1,5167.0,"""institutional investors"". turns out, bitcoin ...",02/01/2021,aantonop,3,26,30930,(bitcoin),2021-01-02,BTC,2.0,1.0,2021.0,NEU
2,1722.0,"i'm old remember buy entire bitcoin $19,000",1/2/2021 15:06,BarrySilbert,455,7550,10818,(bitcoin),2021-01-02,BTC,2.0,1.0,2021.0,POS
3,1723.0,rt : parts world getting ready celebrate new y...,1/2/2021 2:23,BarrySilbert,91,0,10818,(bitcoin),2021-01-02,BTC,2.0,1.0,2021.0,NEU
4,3592.0,"i'm old remember buy entire bitcoin $19,000",1/2/2021 15:06,BarrySilbert,455,7550,10818,(bitcoin),2021-01-02,BTC,2.0,1.0,2021.0,POS

In [136]:
df2.to_csv('processed_tweets_sa.csv', index=False, header=False)

In [53]:
#importing necessary libraries
!pip install sqlalchemy
import sqlalchemy
import pyspark

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.9/site-packages (1.4.31)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from sqlalchemy) (1.1.2)

In [143]:
#connecting to postgres
!pip install psycopg2-binary
import psycopg2
conn = psycopg2.connect(
    host="host.docker.internal",
    port="5432",
    database="airflow",
    user="airflow",
    password="airflow"
)
print("Connected!")

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.9/site-packages (2.9.6)
Connected!

In [144]:
from sqlalchemy import create_engine
#INPUT YOUR OWN CONNECTION STRING HERE
conn_string = 'postgresql://airflow:airflow@host.docker.internal:5432/airflow'

In [145]:
#perform to_sql test and print result
db = create_engine(conn_string)
conn = db.connect()

In [146]:
table_create_sql = '''
CREATE TABLE IF NOT EXISTS tweets_with_SA (F1 float,
                                      Tweetext text,
                                      TweetDatetime varchar,
                                      TwitterName varchar,
                                      Retweets int,
                                      Favorites int,
                                      likes int,
                                      new_coins varchar,
                                      dateNEW date,
                                      Symbol varchar,
                                      Day float,
                                      Month float,
                                      Year float,
                                      Label varchar)
'''

In [147]:
pg_conn = psycopg2.connect(conn_string)
cur = pg_conn.cursor()
cur.execute(table_create_sql)
#cur.execute('TRUNCATE TABLE copy_test') #Truncate the table in case you've already run the script before

In [148]:
# CSV file path
csv_file = '/home/jovyan/work/notebooks/processed_tweets_sa.csv'
table_name = 'tweets_with_SA'
# Load the CSV data into the table
copy_query = "COPY {} FROM STDIN WITH CSV HEADER".format(table_name)
with open(csv_file, 'r') as f:
    cur.copy_expert(copy_query, f)

In [149]:
pg_conn.commit()
cur.close()
pg_conn.close()