# Load cryptocurrency data from Minio #

In [1]:
from minio import Minio
client = Minio("minio:9000",access_key="ffADHWAu70PFl1IscfLH",secret_key="lvJ71G3aJLgPvA556Y3RByUUyhdVwtP0qQ9muFVF", secure=False)
obj = client.get_object("miniobucket", "2021-coin-data.csv")

In [2]:
import pandas as pd
df = pd.read_csv(obj)
df.head(10)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap,Day,Month,Year
0,2805,Bitcoin,BTC,01/01/2021 23:59,29600.62695,28803.58501,28994.00892,29374.15189,4.073030e+10,5.460020e+11,1,1,2021
1,2806,Bitcoin,BTC,02/01/2021 23:59,33155.11882,29091.18119,29376.45583,32127.26794,6.786542e+10,5.972060e+11,2,1,2021
2,2807,Bitcoin,BTC,03/01/2021 23:59,34608.55674,32052.31708,32129.40736,32782.02447,7.866524e+10,6.094090e+11,3,1,2021
3,2808,Bitcoin,BTC,04/01/2021 23:59,33440.21857,28722.75527,32810.94764,31971.91352,8.116348e+10,5.943840e+11,4,1,2021
4,2809,Bitcoin,BTC,05/01/2021 23:59,34437.59059,30221.18674,31977.04113,33992.42934,6.754732e+10,6.319800e+11,5,1,2021
5,2810,Bitcoin,BTC,06/01/2021 23:59,36879.69857,33514.03374,34013.61453,36824.36441,7.528943e+10,6.846710e+11,6,1,2021
6,2811,Bitcoin,BTC,07/01/2021 23:59,40180.36791,36491.18981,36833.87436,39371.04235,8.476214e+10,7.320630e+11,7,1,2021
7,2812,Bitcoin,BTC,08/01/2021 23:59,41946.73935,36838.63600,39381.76584,40797.61072,8.810752e+10,7.586260e+11,8,1,2021
8,2813,Bitcoin,BTC,09/01/2021 23:59,41436.35001,38980.87691,40788.64052,40254.54650,6.198416e+10,7.485630e+11,9,1,2021
9,2814,Bitcoin,BTC,10/01/2021 23:59,41420.19103,35984.62712,40254.21780,38356.43951,7.998075e+10,7.133050e+11,10,1,2021

In [4]:
df.isnull().sum()

SNo          0
Name         0
Symbol       0
Date         0
High         0
Low          0
Open         0
Close        0
Volume       0
Marketcap    0
Day          0
Month        0
Year         0
dtype: int64

# Write data to Postgres #

In [5]:
#importing necessary libraries
!pip install sqlalchemy
import sqlalchemy
#connecting to postgres
!pip install psycopg2-binary
import psycopg2
conn = psycopg2.connect(
    host="host.docker.internal",
    port="5432",
    database="airflow",
    user="airflow",
    password="airflow"
)
print("Connected!")

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.9/site-packages (1.4.31)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.9/site-packages (2.9.6)
Connected!

In [6]:
from sqlalchemy import create_engine
#INPUT YOUR OWN CONNECTION STRING HERE
conn_string = 'postgresql://airflow:airflow@host.docker.internal:5432/airflow'

In [7]:
#perform to_sql test and print result
db = create_engine(conn_string)
conn = db.connect()

In [13]:
table_create_sql = '''
CREATE TABLE IF NOT EXISTS coin_data (SNo float,
                                      Name text,
                                      Symbol varchar,
                                      Date varchar,
                                      High float4,
                                      Low float4,
                                      Open float4,
                                      Close float4,
                                      Volume double precision,
                                      Marketcap double precision,
                                      Day int,
                                      Month int,
                                      Year int)
'''

In [14]:
pg_conn = psycopg2.connect(conn_string)
cur = pg_conn.cursor()
cur.execute(table_create_sql)
#cur.execute('TRUNCATE TABLE copy_test') #Truncate the table in case you've already run the script before

In [15]:
df.to_csv('coin_data.csv', index=False, header=False)
# CSV file path
csv_file = '/home/jovyan/work/notebooks/coin_data.csv'
table_name = 'coin_data'
# Load the CSV data into the table
copy_query = "COPY {} FROM STDIN WITH CSV HEADER".format(table_name)
with open(csv_file, 'r') as f:
    cur.copy_expert(copy_query, f)

In [16]:
pg_conn.commit()
cur.close()
pg_conn.close()